<div class="login-container">
    <div class="login-container__logo">
        <span class="login-container__logo--img"></span>
    </div>

    <div class="login-container__title">
        <h2 class="login-container__title--normal">Bienvenido a</h2>
        <h1 class="login-container__title--purple">RETINODiAB</h1>
    </div>

    <form class="login-container__body" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="login-container__body--input">
            <mat-label>Correo Electronico</mat-label>

            <input formControlName="email" required matInput placeholder="correo@ejemplo.com">

            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                El nombre de usuario debe tener al menos 4 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-container__body--input">
            <mat-label>Password</mat-label>

            <input formControlName="password" required matInput [type]="hidePassword ? 'password' : 'text'"
                   placeholder="*******">

            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                La contraseña es requerida y debe tener al menos 4 caracteres.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="login-container__body--button">
            Ingresar
        </button>
    </form>
</div>
