<div class="registry-container">
    <div class="registry-container__logo">
        <span class="registry-container__logo--img"></span>
    </div>

    <div class="registry-container__title">
        <h2 class="registry-container__title--normal">{{registryConstants.TITLE_1_VALUE}}</h2>

        <h1 class="registry-container__title--purple">{{registryConstants.TITLE_2_VALUE}}</h1>
    </div>

    <form class="registry-container__body" [formGroup]="registryForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="registry-container__body--input">
            <mat-label>{{registryConstants.NAME_PLACEHOLDER_VALUE}}</mat-label>

            <input formControlName="nombre" required matInput placeholder={{registryConstants.NAME_LABEL_VALUE}}>

            <mat-error *ngIf="registryForm.get('nombre')?.invalid && registryForm.get('nombre')?.touched">
                El nombre de paciente debe tener al menos 5 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="registry-container__body--input">
            <mat-label>{{registryConstants.USERNAME_PLACEHOLDER_VALUE}}</mat-label>

            <input formControlName="email" required matInput placeholder={{registryConstants.USERNAME_LABEL_VALUE}}>

            <mat-error *ngIf="registryForm.get('email')?.invalid && registryForm.get('email')?.touched">
                El nombre de usuario debe tener al menos 4 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="registry-container__body--input">
            <mat-label>{{registryConstants.PASSWORD_PLACEHOLDER_VALUE}}</mat-label>

            <input formControlName="password" required matInput [type]="hidePassword ? 'password' : 'text'"
                   placeholder={{registryConstants.PASSWORD_LABEL_VALUE}}>

            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            <mat-error *ngIf="registryForm.get('password')?.invalid && registryForm.get('password')?.touched">
                La contraseña es requerida y debe tener al menos 4 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-label>{{registryConstants.ROL_RADIO_VALUE}}</mat-label>

        <mat-radio-group formControlName="rol" required name="rol">
            <mat-radio-button value="paciente">Paciente</mat-radio-button>
            <mat-radio-button value="administrador">Administrador</mat-radio-button>
            <mat-radio-button value="servicio">Servicio</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="registryForm.get('rol')?.invalid">
            Seleccione un rol.
        </mat-error>

        <mat-checkbox formControlName="diabetes" required color="primary" class="login-container__body--checkbox">
            {{registryConstants.KEEP_LOGGED_IN_VALUE}}
        </mat-checkbox>
        <mat-error *ngIf="registryForm.get('diabetico')?.invalid">
            Seleccione en caso de ser diabetico.
        </mat-error>


        <button mat-raised-button color="primary" type="submit" class="registry-container__body--button">
            {{registryConstants.REGISTRY_BUTTON_VALUE}}
        </button>
        <button mat-raised-button color="secondary" (click)="goToLogin()" type="button" class="registry-container__body--registry">
            {{registryConstants.LOGIN_BUTTON_VALUE}}
        </button>
    </form>
</div>
