<mat-sidenav-container class="menu-container__body">
    <mat-sidenav mode="side" opened class="menu-container__side-bar">
        <mat-nav-list>
            <ng-container *ngFor="let item of menuItems">
                <ng-container *ngIf="mostrarAdminUsuarios || item.title !== 'Usuarios'">
                    <a mat-list-item [routerLink]="item.path" routerLinkActive="active">{{ item.title }}</a>
                </ng-container>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <div class="menu-container__content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
